/* VARS */
/* GLOBAL DEFAULTS */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  badding: 0;
  min-height: 100%;
}
/* TYPOGRAPHY */
body {
  font: 400 medium 'Georgia', 'Times New Roman', serif;
  color: #5b5b5b;
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
}
.subheader {
  font-weight: 400;
  color: rgba(91, 91, 91, 0.6);
}
strong {
  font-weight: 600;
}
h1 {
  font-size: 260%;
}
h2 {
  font-size: 220%;
}
h3 {
  font-size: 180%;
}
h4 {
  font-size: 160%;
}
h5 {
  font-size: 140%;
}
h6 {
  font-size: 120%;
}
a {
  color: #5b5b5b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  background: url('../img/nature.jpg');
  background-size: cover;
  width: 100%;
}
header .inner-header {
  width: 100%;
  max-width: 1025px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
header h1 {
  display: inline-block;
  vertical-align: middle;
  width: 285px;
  height: 90px;
}
header h1 a {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 100%;
  background: url('../img/main-logo.svg') no-repeat center;
  background-size: contain;
}
.social-nav {
  position: absolute;
  right: 20px;
  top: 55px;
}
.social-nav li {
  padding: 0;
  margin-left: 7px;
}
.social-nav li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url('../img/social-icons.svg') no-repeat center;
  overflow: hidden;
  padding-left: 35px;
}
.social-nav li a[title="Facebook"] {
  background-position: 0px center;
}
.social-nav li a[title="Twitter"] {
  background-position: -100px center;
}
.social-nav li a[title="Pinterest"] {
  background-position: -50px center;
}
.social-nav li a[title="Email"] {
  background-position: -151px center;
}
.main-nav {
  background: rgba(0, 0, 0, 0.3);
  min-height: 2px;
}
.main-nav ul {
  max-width: 1025px;
  margin: 0 auto;
}
.main-nav ul li a {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 85%;
  padding: 10px 20px;
}
.content {
  width: 100%;
  max-width: 1025px;
  margin: 0 auto;
  position: relative;
  padding-top: 100px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 10px;
}
.amazing-grace-about {
  margin-bottom: 100px;
}
.amazing-grace-about .cover,
.amazing-grace-about .description {
  float: left;
  width: 50%;
  padding: 0 20px;
}
.amazing-grace-about .cover {
  padding-right: 50px;
  display: block;
}
.amazing-grace-about .description {
  padding-left: 50px;
}
.amazing-grace-about .description h2,
.amazing-grace-about .description h3,
.amazing-grace-about .description h4 {
  text-transform: uppercase;
  text-align: center;
}
.amazing-grace-about .description h2 {
  padding-bottom: 30px;
  background: url('../img/title-swril.svg') no-repeat bottom center;
  font-size: 195%;
  letter-spacing: 0.25em;
  margin-bottom: 5px;
}
.amazing-grace-about .description h3 {
  font-size: 120%;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  margin-bottom: 13px;
}
.amazing-grace-about .description h3 strong {
  font-weight: 400;
  font-size: 125%;
}
.amazing-grace-about .description h4 {
  font-size: 120%;
  letter-spacing: 0.2em;
  margin-bottom: 25px;
}
.amazing-grace-about .description p {
  font-size: 85%;
}
.amazing-grace-about .description p.isbn {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.5;
}
.amazing-grace-about:after {
  content: '';
  display: block;
  clear: both;
}
.retail {
  margin-bottom: 100px;
  padding: 0 20px;
}
.retail h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 110%;
  letter-spacing: 0.2em;
}
.retail h4:before {
  content: url('../img/left-twril.svg');
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.retail h4:after {
  content: url('../img/right-twril.svg');
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
.retail li {
  display: block;
  float: left;
  width: 33.3%;
}
.retail li a {
  display: block;
  width: 100%;
  height: 100px;
  background: no-repeat center;
  background-size: 85%;
  padding-left: 100%;
  overflow: hidden;
}
.retail li a.barnes-and-noble {
  background-image: url('../img/barnes-and-noble-logo.svg');
}
.retail li a.books-a-million {
  background-image: url('../img/books-a-million-logo.svg');
}
.retail li a.amazon {
  background-image: url('../img/amazon-logo.svg');
}
.retail:after {
  content: '';
  display: block;
  clear: both;
}
.stacked-books {
  padding: 0 20px;
  margin-bottom: 100px;
}
.stacked-books img {
  width: 100%;
}
footer {
  background: #5b5b5b;
  color: #8c8c8c;
  font-size: 80%;
  text-align: right;
}
footer .inner-footer {
  padding: 2px 20px;
  width: 100%;
  max-width: 1025px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .amazing-grace-about .cover {
    padding-right: 20px;
  }
  .amazing-grace-about .description {
    padding-left: 20px;
  }
}
@media (max-width: 820px) {
  header {
    background-size: auto;
  }
  .content {
    padding-top: 50px;
  }
  .amazing-grace-about .cover,
  .amazing-grace-about .description {
    float: none;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }
  .amazing-grace-about .cover {
    max-width: 320px;
    margin-bottom: 50px;
  }
}
@media (max-width: 560px) {
  header {
    text-align: center;
  }
  header .inner-header {
    padding-bottom: 10px;
  }
  header .inner-header h1 {
    width: 100%;
  }
  .social-nav {
    position: static;
    margin-top: 5px;
  }
  .retail h4 {
    font-size: 95%;
  }
  .retail h4:before,
  .retail h4:after {
    display: none;
  }
  .retail li {
    float: none;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
}
@media (max-width: 410px) {
  .amazing-grace-about .description h2 {
    font-size: 150%;
  }
  .amazing-grace-about .description h3,
  .amazing-grace-about .description h4 {
    font-size: 105%;
  }
}
