
/* VARS */
@weight-normal: normal;
@weight-bold: bold;
@font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@header-font-family: Georgia, 'Times New Roman', serif;
@font-color: #5b5b5b;
@primary-color: #5b5b5b;
@error-color: crimson;
@success-color: mediumseagreen;
@max-width: 1024px;

/* GLOBAL DEFAULTS */
*, *:before, *:after{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
    min-height: 100%;
}

/* TYPOGRAPHY */
body {
	font: @weight-normal medium @font-family;
	color: @font-color;
	line-height: 1.8;
	background: #f9f9f9;
}



h1, h2, h3, h4, h5, h6 {
	font-family: @header-font-family;
	font-weight: @weight-normal;
	line-height: 1.4;
	margin: 0;
}

.subheader {
	font-weight: @weight-normal;
	color: fadeout(@font-color, 40%);
}

strong {
	font-weight: @weight-bold;
}

h1 {
	font-size: 260%;
}

h2 {
	font-size: 220%;
}

h3 {
	font-size: 180%;
}

h4 {
	font-size: 160%;
}

h5 {
	font-size: 140%;
}

h6 {
	font-size: 120%;
}

a {
	color: @primary-color;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

header {
	background-size: cover;
	width: 100%;
	
	.inner-header {
		width: 100%;
		padding: 35px;
		position: relative;
		max-width: @max-width;
		margin: 0 auto;
	}

	h1 {
		display: inline-block;
		vertical-align: middle;
		width: 285px;
		height: 90px;

		a {
			width: 100%;
			height: 100%;
			display: inline-block;
			overflow: hidden;
			white-space: nowrap;
			padding-left: 100%;
			background: url('../img/main-logo.svg') no-repeat center;
			background-size: contain;
		}
	}
}

.social-nav {
	position: absolute;
	right: 35px;
	top: 67px;

	li {
		padding: 0;
		margin-left: 7px;

		a {
			@icon-size: 35px;
			display: inline-block;
			width: @icon-size;
			height: @icon-size;
			background: url('../img/social-icons.svg') no-repeat center;
			overflow: hidden;
			padding-left: @icon-size;
			
			&[title="Facebook"] {
				background-position: 0px center;
			}

			&[title="Twitter"] {
				background-position: -100px center;
			}

			&[title="Pinterest"] {
				background-position: -50px center;
			}

			&[title="Email"] {
				background-position: -151px center;
			}
		}
	}
}

.main-nav {
	background: fade(#62435d, 50%);
	min-height: 2px;
	padding: 0 25px;

	ul {
		max-width: @max-width;
		margin: 0 auto;
		
		li a {
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-size: 85%;
			padding: 10px 20px;
		}
	}
}

.content {
	width: 100%;
	max-width: @max-width;
	margin: 0 auto;
	max-width: @max-width;
	margin: 0 auto;
	position: relative;
	
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			margin: 0;
			padding: 0;
			display: inline-block;
			padding: 10px;
		}
	}
}

aside {
	float: left;
	width: 25%;
	padding: 0 35px;
	
	h2 {
		font-size: 130%;
		text-align: center;
		margin: 10px 0;
	}
	
	img {
		width: 100%;
		border-radius: 50%;
	}
}

.books {
	float: left;
	width: 75%;
	padding: 0 35px;
	
	.hero {
		img {
			width: 100%;
		}
	}

	& > ul,
	& > ul > li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	& > ul > li {
		padding: 20px;
		position: relative;
	}

	.cover {
		width: 130px;
		margin-right: 20px;
		position: absolute;
		left: 20px;
		top: 20px;
	}

	h2 {
		font-size: 130%;
		text-transform: uppercase;
	}
	
	h3 {
		font-size: 80%;
		text-transform: uppercase;
	}

	h3 strong {
		font-size: 120%;
		font-weight: @weight-normal;
	}

	p {
		font-size: 85%;
	}

	h2, h3, p {
		padding-left: 150px;
	}

	[data-book] {
		cursor: pointer;
		text-decoration: underline;
		position: absolute;
		left: 20px;
		top: 150px;
		padding: 0;
		width: 130px;
		text-align: center;
		
		&:after {
			content: ' \bb';
			font-size: 110%;
		}
	}
}

.buy-links {
	margin: 0;
	padding: 0 0 0 150px;
	
	li {
		margin: 0;
		padding: 0;
		display: inline-block;
		
		a {
			padding: 2px 8px;
			border-radius: 4px;
			border: 1px solid #5b5b5b;
		}
	}
}

.book-more-details {

	.cover {
		width: 200px;
		display: block;
		margin: 0 auto;
	}

	.description {
		h2,
		h3,
		h4 {
			text-transform: uppercase;
			text-align: center;
		}

		h2 {
			padding-bottom: 30px;
			background: url('../img/title-swril.svg') no-repeat bottom center;
			font-size: 195%;
			letter-spacing: 0.25em;
			margin-bottom: 5px;
		}

		h3 {
			font-size: 120%;
			letter-spacing: 0.05em;
			word-spacing: 0.1em;
			margin-bottom: 13px;
			max-width: 19em;
			margin: 0 auto 13px;
		}

		h3 strong {
			font-weight: @weight-normal;
			font-size: 125%;
		}

		h4 {
			font-size: 120%;
			letter-spacing: 0.2em;
			margin-bottom: 25px;
		}

		p {
			font-size: 85%;
		}

		p.isbn {
			text-transform: uppercase;
			letter-spacing: 0.2em;
			line-height: 1.5;
		}
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

footer {
	background: @primary-color;
	color: #8c8c8c;
	font-size: 80%;
	text-align: right;
	
	.inner-footer {
		padding: 2px 20px;
		width: 100%;
		max-width: @max-width;
		margin: 0 auto;
	}
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background: rgba(0, 0, 0, 0.5);
	padding: 35px;
	
	&.open {
		display: block;
	}

	.modal-block {
		background: #f9f9f9;
		padding: 35px;
		max-width: 500px;
		margin: 0 auto;
		position: relative;
		
		.modal-close {
			position: absolute;
			top: 10px;
			right: 25px;
			text-transform: uppercase;
			cursor: pointer;
		}
	}
}


@media (max-width: 730px) {
	aside,
	.books {
		float: none;
		width: 100%;
	}

	aside {
		margin-bottom: 40px;

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		img {
			width: 100px;
			float: left;
		}

		h2,
		p {
			text-align: left;
			padding-left: 120px;
		}
	}
}

@media (max-width: 560px) {
	header h1 {
		display: block;
		margin: 0 auto;
	}

	.social-nav {
		position: static;
		text-align: center;
	}

	.books {
		& > ul > li {
			padding-bottom: 40px;			
		}

		.cover,
		[data-book],
		h2,
		h3,
		.buy-links,
		p {
			position: static;
			padding: 0;
		}

		h2,
		h3 {
			text-align: center;
		}

		.cover {
			display: block;
			margin: 15px auto 0;
		}

		[data-book] {
			text-align: left;
		}
	}

	.book-more-details .description {
		h2 {
			font-size: 150%;
		}

		h3,
		h4 {
			font-size: 100%;
		}
	}

	.modal {
		padding: 15px;
	}
}

@media (max-width: 430px) {
	header .inner-header {
		padding: 35px 15px;		
	}

	aside {
		text-align: center;

		img {
			float: none;
		}

		h2,
		p {
			padding: 0;
			text-align: center;
		}
	}

	aside,
	.books {
		padding: 0 15px;
	}

	.books {
		& > ul > li {
			padding: 20px 0 40px;			
		}
	}
}